$bg-color: #444b6e;
$idk: #708b75;

#header {
  width: 100%;
  background-color: $bg-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & div {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 8rem;
      background-color: $idk;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
