$border-color: #f8f991;

.divHours,
.divInfo,
.divLocation {
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 1.5rem;

  & .hours-days {
    font-size: 1rem;
  }
}

.divLocation {
  border-bottom: none;
}
