$border-color: #f8f991;

.divHeader {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
}

.menuCont {
  margin-top: 20px;
}

.divTitle {
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.itemText {
  font-weight: bold;
}

.desc {
  margin-bottom: 0;
}
